.animated-router-wrapper {
  &[data-status="opening"] {
    animation: page-opening 0.3s;
  }

  &[data-status="closing"] {
    animation: page-closing 0.3s;
  }

  &[data-status="closed"] {
    display: none;
  }
}

@keyframes page-opening {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


@keyframes page-closing {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}
